html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    min-height: 100vh;
    background:   radial-gradient(#464646 5%, #2c2c2c 60%);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
}